<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Titre : <span *ngIf="sondage">{{sondage.reunion.intitule}}</span> </h3>
      </div>
      <div class="panel-body" *ngIf="sondage">
<!--        <p>id Reunion : {{sondage.reunion.id}}</p>-->
<!--        <p> <b>users :</b> {{sondage.user}}</p>-->
        <p> <b>Code Reunion : </b> {{sondage.reunion.code}}</p>
        <p> <b>Lien de participation </b>: <a routerLink="/participe/{{sondage.id}}">{{sondage.lien}}</a></p>
        <p> <b>Lien du pad </b> <input type="text" class="form-control" readonly [ngModel]="sondage.reunion.lienPad" ></p>
        <p> <b>Resumé de la Reunion : </b>
          <textarea class="form-control" readonly id="resume" rows="3" [ngModel]="sondage.reunion.resume"></textarea>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Les dates proposées</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]= "validerDateForm" (ngSubmit)="onSubmit()" *ngIf="sondage && !sondage.clos">
          <div *ngFor="let date of dates; let i=index">
            <div class="row">
             <div class="col-md-9">
               <label>
                 <input formControlName="date" type="radio" name="date" [value]="date.id"/>
                 {{date.date |date:'full':'+0200':'fr'}}
                 <span class="badge">{{date.users.length}} vote (s) </span>
               </label>
             </div>
              <div class="col-md-3">
                <select class="form-control" style="width: 8em" id="selectList">
                  <option selected disabled>Votants</option>
                  <option *ngFor="let part of date.users">{{part.nom}}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="text-center" style="padding-top: 1.5%">
            <button class="btn btn-danger" type="submit" [disabled]="validerDateForm.invalid">Valider la date et Clôturer</button>
          </div>
        </form>

        <div *ngIf="sondage && sondage.clos">
          <ul *ngFor="let date of dates">
            <li><b>{{date.date |date:'full':'+0200':'fr'}} </b>
              <span class="badge">{{date.users.length}} vote (s) </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<button (click)="onBack()" class="btn btn-primary">Liste des sondages</button>


