<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/sondages">Sondage</a></li>
      <li routerLinkActive="active"><a routerLink="/users">Utilisateurs</a></li>
      <li routerLinkActive="active"><a routerLink="/participants">Participants</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" >
      <li routerLinkActive="active">
        <a routerLink="auth/signup" *ngIf="!isAuth">Créer un compte</a>
      </li>
      <li routerLinkActive="active" >
        <a routerLink="auth/signin" *ngIf="!isAuth">Connexion</a>
      </li>

      <li>
        <a (click)="onSignOut()" style="cursor: pointer;"*ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

