<div class="row">

  <div class="col-md-9">
    <h2>Créer un Sondage</h2>
    <form [formGroup]= "sondageForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="intitule">Intitulé</label>
        <input type="text" id="intitule" class="form-control" formControlName="intitule">
      </div>

      <div class="form-group">
        <label for="resume">Resumé</label>
        <input type="text" id="resume" class="form-control" formControlName="resume">
      </div>

      <div formArrayName="dates">
        <h3>Vos dates pour la reunion</h3>
        <div class="form-group" *ngFor="let hobbyControl of getDates().controls; let i=index">
          <input type="datetime-local" class="form-control" [formControlName]="i">
        </div>
        <button type="button" class="btn btn-succes" (click)="onAddDate()">Ajouter une Date</button>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="sondageForm.invalid">Créer le sondage</button>

    </form>
    <p class="text-danger"> {{errorMessage}}</p>
  </div>

</div>
<button (click)="onBack()" class="btn btn-primary">Liste des sondages</button>
