<div class="row">
  <div>
    <a class="btn btn-success" routerLink="/auth/signup">Ajouter un nouveau user</a>
  </div>
  <!--<a class="btn btn-success" [routerLink]="/new-sondage/">Ajouter un nouveau sondage</a>-->
  <br>
  <div class="col-lg-12">


    <table class="table table-hover">
      <!--    <table class="table table-striped">-->
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col" style="width: auto;" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">

        <th scope="row">{{user.id}}</th>
        <td>{{user.nom}}</td>
        <td>{{user.prenom}}</td>

        <td class="text-center"><button title="voir détail" (click)="onViewSondage(user)"
                                        class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span></button>

<!--          <button (click)="onDeleteSondage(participant.id)"-->
<!--                  class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button> </td>-->

      </tr>

      </tbody>
    </table>
  </div>
</div>
