<div class="row">
  <a class="btn btn-success" routerLink="/new-sondage">Ajouter un nouveau sondage</a>
  <!--<a class="btn btn-success" [routerLink]="/new-sondage/">Ajouter un nouveau sondage</a>-->
  <br>
  <div class="col-md-8">


    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Intitulé</th>
        <th scope="col">Date de creation</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sondage of sondages">
        <th scope="row">{{sondage.id}}</th>
        <td>{{sondage.reunion.intitule}}</td>
        <td>{{sondage.dateCreation}}</td>
        <td><button (click)="onViewSondage(sondage.id)"
                    class=""><span class="glyphicon glyphicon-eye-open"></span></button> </td>
        <td><button (click)="onDeleteSondage(sondage.id)"
            class="btn-danger"><span class="glyphicon glyphicon-minus"></span></button> </td>
        <td><button (click)="onUpdateSondage(sondage.id)"
                    class="btn-danger"><span class="glyphicon glyphicon-edit"></span></button> </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
