<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]= "signOutForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="signOutForm.invalid">Créer le compte</button>

    </form>
    <p class="text-danger"> {{errorMessage}}</p>
  </div>
</div>
