<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control" formControlName="titre">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Resumé</label>
        <input type="text" class="form-control" formControlName="resume">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Lieu</label>
        <input type="text" class="form-control" formControlName="lieu">
      </div>
    </div>

  </div>

  <div class="row">
    <h2>Dites à membre qui vous êtes</h2>

    <div class="col-md-4">
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="nom">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Prenom</label>
        <input type="text" class="form-control" formControlName="prenom">
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>mail</label>
          <input type="text" class="form-control" formControlName="mail">
        </div>
      </div>

    </div>
  </div>

  <button type="submit"  class="btn btn-primary">Ajouter le sondage</button>
</form>
