<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h2  style="color: blue">Bienvenue sur notre application de sondage</h2>


    <div class="row" style="padding-top: 3%" >
      <p><a routerLink="auth/signin">Créer un compte</a> pour acceder à la liste de vos sondages, en créer une nouvelle et en modifier selon vos besoin </p>
    </div>

    <div class="row">
      <p>Si vous n'avez pas encore de compte <a routerLink="auth/signup">Créer un compte</a> et commmencer à gérer vos sondages . </p>
    </div>
  </div>

</div>
